/* Search Page Background Image
#first-background{
    background-image: url("../images/first-background.jpg")
};*/

#search-body { 
    background: url("../images/New-York-City.jpg") no-repeat center center fixed; 
    background-size: cover;
    z-index: -1;
    height: 100vh;
    width: 100vw;
  }

  #search-bar {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 38%;
  }
  #input-city::placeholder {
    color: white;
  }

  #input-city{
      color: white;
  }

  #city-help{
      color: white;
  }

  #title{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 13%;
  }

  #devtown-title{
      font-size: 10vw;
      color: white;
  }

  #devtown-sub{
      color: white;
  }

  ::placeholder { 
    color: white;
    opacity: 1; 
}

#city-submit {
    background-color: transparent;
    border-width: 2px;
    color: #009688;
}